.create_container {
  background-color: $main-background;
  box-shadow: $box-shadow;
  overflow: auto;
  white-space: nowrap;
  padding: 15px 0;
  border-radius: 4px;
  .create_description {
    h1 {
      font-size: 20px;
      box-shadow: $item-color 0px 2px 0px;
      margin-bottom: 10px;
      padding: 10px 0;
      margin: 10px 25px;
    }
    ul {
      list-style: none;
      padding: 0 40px;
      h3 {
        font-size: 15px;
      }
      .create_card {
        margin-left: 10px;
        &--input {
          display: inline-block;
          box-sizing: border-box;
          border: 2px solid $item-color;
          border-radius: 4px;
          user-select: none;
          margin: 20px 0;
          width: 100%;
          textarea {
            padding: 10px;
            height: 200px;
            resize: none;
            font-size: 15px;
            width: 100%;
          }
          input[type='text'] {
            padding: 10px;
            font-size: 15px;
            width: 100%;
          }
          &:hover {
            border: 2px solid $main-color;
          }
        }
        .datetime {
          display: grid;
          gap: 30px;
          grid-template-areas: 'header header header';
        }
        &--button {
          display: flex;
          margin-bottom: 10px;
          justify-content: flex-end;
        }
      }
    }
  }
}

.react-datepicker {
  font-size: 1.5rem;
  width: 110%;
}
.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 19px;
  position: relative;
  width: 110%;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 1.5rem;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.5rem;
  line-height: 2.5rem;
}
.react-datepicker__month {
  padding-left: 20px;
  text-align: center;
}

.react-datepicker-time__caption {
  display: inline-block;
  margin-left: 20px;
  font-size: 2rem;
}

.react-datepicker-time__input-container {
  display: inline-block;
  font-size: 2rem;
}

.react-datepicker__triangle::before {
  margin-left: -7px;
}

.react-datepicker__triangle::after {
  margin-left: -7px;
}
