.container-card {
  border-radius: 10px;
  width: 100%;

  .card {
    h3 {
      font-size: 2.4rem;
      text-align: center;
    }

    padding: 16px;
    background-color: $main-background;
    border-radius: 4px;

    &__item {
      padding: 8px;
      align-items: center;
      gap: 30px;
      select {
        text-align: center;
        border: 2px solid #dddddda3;
        padding: 10px;
        border-radius: 5px;
      }
      label {
        font-weight: bold;
        width: 8%;
      }

      &-text {
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 40px;
        font-size: 1.8rem;
      }
      &-input {
        font-size: 1.6rem;
        background-color: #eee;
        width: 100%;
        padding: 8px 16px;
        border-radius: 5px;
        outline: none;

        border: 1.5px solid transparent;
        transition: all 0.2s ease;

        &:hover {
          background-color: #fff;
          border-color: rgba(240, 128, 128, 0.8);
        }

        &:focus {
          background-color: #fff;
          border-color: lightcoral;
          box-shadow: rgba(240, 128, 128, 0.3) 0px 0px 8px;
        }
      }
    }

    &__list-case {
      display: flex;
      gap: 50px;
      &__item {
        padding: 10px;
      }
    }

    &__body {
      @include flex(center, center);
      padding: 16px;
      gap: 30px;
      background: white;
      margin: 25px 15px;
      border-radius: 5px;

      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.1);

      &-control {
        margin-bottom: 16px;
        width: 100%;
        margin: 0 10px;

        input {
          font-size: 1.6rem;
          background-color: #eee;
          width: 100%;
          padding: 8px 16px;
          border-radius: 5px;
          outline: none;

          border: 2px solid transparent;
          transition: all 0.25s ease-in-out;

          &:hover {
            background-color: #fff;
            border-color: rgba(240, 128, 128, 0.8);
          }

          &:focus {
            background-color: #fff;
            border-color: lightcoral;
            box-shadow: rgba(240, 128, 128, 0.6) 0px 0px 16px;
          }
        }
      }

      &-submit {
        // margin: 8px 0;
        width: 100%;
        display: flex;
        gap: 10px;
      }
      &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    &__crud {
      margin: 15px;
      display: flex;
      justify-content: space-between;
    }
  }
}
.wrap {
  display: flex;
}
